.toggle {
    padding: 10px;
    display: flex;
    gap: 40px;
}

.value-state {
    background: var(--bg-primary);
    padding: 15px 20px;
    border-radius: 12px;
    min-width: 120px;

}

.btn-save {
    /* flex: 1; */
    padding: 14px;
    background-color: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    color: var(--text-primary);
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-save:hover {
    transform: scale(1.05);
    background-color: var(--bg-card-hover);
    border-color: var(--accent-copper);
}

/* State Plc */

.plc-status {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 15px;
    font-size: 16px;
}

.status-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.led {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #444;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.led.green {
    background: #00ff9c;
    box-shadow: 0 0 12px #00ff9c;
}

.led.red {
    background: #ff3c3c;
    box-shadow: 0 0 12px #ff3c3c;
}

.led.yellow {
    background: #ffc400;
    box-shadow: 0 0 12px #ffc400;
}

.led.blink {
    animation: blinkLed 1s infinite;
}

@keyframes blinkLed {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0.3
    }

    100% {
        opacity: 1
    }
}

.ui-switch1 {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 36px;
}

/* hide checkbox */
.ui-switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

/* background */
.ui-slider1 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #8b1d1d;
    transition: 0.25s;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* knob */
.ui-slider1::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 2px;
    left: 4px;
    background: #f2f2f2;
    border-radius: 50%;
    transition: 0.25s;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.6),
        inset 0 1px 2px rgba(255, 255, 255, 0.8);
}

/* ON state */
.ui-switch1 input:checked+.ui-slider1 {
    background: #2ecc71;
    box-shadow:
        0 0 8px rgba(46, 204, 113, 0.7),
        inset 0 0 6px rgba(0, 0, 0, 0.6);
}

.ui-switch1 input:checked+.ui-slider1::after {
    transform: translateX(40px);
}

/* text */
.ui-on {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.ui-off {
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    font-weight: bold;
    color: white;
}

/* swit */
.ui-switch {
    display: inline-block;
    width: 120px;
    height: 50px;
    position: relative;
}

.ui-switch input:checked+.slider {
    box-shadow:
        0 0 10px rgba(46, 204, 113, 0.6),
        inset 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.ui-switch input {
    display: none;
}

/* BACKGROUND */
.slider {
    box-shadow:
        inset 4px 4px 8px rgba(0, 0, 0, 0.35),
        /* dalam gelap */
        inset -4px -4px 8px rgba(255, 255, 255, 0.08),
        /* dalam terang */
        0 6px 14px rgba(0, 0, 0, 0.5);
    /* bayangan luar */
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background: #27d124;
    transition: 0.3s;
    overflow: hidden;
    font-weight: bold;
    color: white;
}

.slider::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;

    box-shadow:
        inset 2px 2px 4px rgba(255, 255, 255, 0.12),
        /* highlight atas */
        inset -2px -2px 4px rgba(0, 0, 0, 0.5);
    /* shadow bawah */

    pointer-events: none;
}

/* TEXT */
.text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    transition: 0.3s;
}

.closed {
    left: 55px;
}

.open {
    right: 65px;
    opacity: 0;
}

/* KNOB */
.knob {
    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.5),
        /* jatuh */
        inset -2px -2px 4px rgba(255, 255, 255, 0.7),
        /* highlight */
        inset 2px 2px 4px rgba(0, 0, 0, 0.25);
    /* depth */
    position: absolute;
    width: 45px;
    height: 45px;
    background: #eee;
    border-radius: 50%;
    top: 2px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 2;
}

/* ICON */
.icon {
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 36px;
    height: 36px;
    transform: scale(1.2);
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    transform: translateY(3px);
    /* ini biar bener2 center visual */
}

/* ON STATE */
.ui-switch input:checked+.slider {
    background: #ff0000;
}

.ui-switch input:checked+.slider .knob {
    transform: translateX(66px);
}

.ui-switch input:checked+.slider .closed {
    opacity: 0;
}

.ui-switch input:checked+.slider .open {
    opacity: 1;
}


/* ON (hijau) */
.ui-switch input:checked+.slider .icon svg {
    fill: #9f9090;
}

.pipe {
    fill: #3a3a3a;
}

.body {
    fill: #555;
}

.stem {
    fill: #777;
}

/* wheel */
.wheel {
    stroke: #27d124;
    transform-origin: 12px 4px;
    transition: transform 0.4s ease;
}

/* CLOSED */
.ui-switch .wheel {
    transform: rotate(0deg);
}

/* OPEN (muter kayak valve asli) */
.ui-switch input:checked+.slider .wheel {
    transform: rotate(180deg);
}

/* warna ON */
.ui-switch input:checked+.slider .wheel {
    stroke: #fc0000;
}

/* calibrasi */
.calib-card {
    background-color: var(--bg-card);
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 0 5px rgba(248, 146, 44, 0.904);
}

.calib-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sensor-value {
    font-size: 20px;
    color: #4cc9f0;
    font-weight: 600;
}

.btn-calib {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: 600;
}

.pump-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
    margin-top: 15px;
}

.pump-grid input {
    background-color: var(--bg-primary);
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    color: var(--text-primary);
}

.btn-save {
    background: #f4a261;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.control-row {
    display: grid;
    padding: 5px 5px;
    justify-content: space-between;

}

.switc-group {
    display: grid;
    gap: 10px;
    margin-top: 5px;
    align-items: center;
}